<header>
    <div class="header-container">
        <a href="{{ path("getPostList") }}" class="logo">
            DarkBlog
        </a>
        <div class="user-actions">
            {% if is_granted("ROLE_ADMIN") %}
                <a href="{{ path("getPostForm") }}" class="admin-panel">
                    Создать пост
                </a>
            {% endif %}

            {% if is_granted("ROLE_USER") %}
                <a href="{{ path("getUserLogout") }}">
                    Выйти
                </a>
            {% else %}
                <a href="{{ path("getUserRegister") }}">
                    Регистрация
                </a>

                <a href="{{ path("getUserLogin") }}">
                    Войти
                </a>
            {% endif %}

        </div>
    </div>
</header>
