{% extends 'base.html.twig' %}

{% block title %}Главная{% endblock %}

{% block body %}
    <main>
        <h1 class="page-title">Последние посты</h1>

        <div class="categories">
            <button class="category-btn active">Все</button>
            <button class="category-btn">Технологии</button>
            <button class="category-btn">Жизнь</button>
            <button class="category-btn">Путешествия</button>
            <button class="category-btn">Еда</button>
        </div>

        <div class="posts-grid">
            {% for post in posts %}
                <a class="post-card" href="{{ path("getPost", {"post_id": post.id}) }}">
                    {% if post.categoryTitle == "Технологии" %}
                        <span class="post-category category-tech">
                            Технологии
                        </span>
                    {% elseif post.categoryTitle == "Жизнь" %}
                        <span class="post-category category-life">
                            Жизнь
                        </span>
                    {% elseif post.categoryTitle == "Путешествия" %}
                        <span class="post-category category-travel">
                            Путешествия
                        </span>
                    {% elseif post.categoryTitle == "Еда" %}
                        <span class="post-category category-food">
                            Еда
                        </span>
                    {% endif %}

                    <h2 class="post-title">
                        {{ post.title }}
                    </h2>

                    <div class="post-meta">
                    <span>
                        {{ post.createdAt|date('d.m.Y') }}
                    </span>

                        <span>
                        Лайки: {{ post.likesCount }}
                    </span>

                        <span>
                        Комментарии: {{ post.commentsCount }}
                    </span>
                    </div>
                </a>
            {% endfor %}

{#            <div class="pagination">#}
{#                <button class="pagination-btn"><<</button>#}
{#                <button class="pagination-btn">>></button>#}
{#            </div>#}
        </div>
    </main>
{% endblock %}
